body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.main {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  padding: 20px;
  grid-column-gap: 3.5em;
  grid-row-gap: 1.5em;
}

.numdivs {
  height: 110px;
  width: 150px;
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .2s;
  cursor: pointer;
}
.numdivs:hover{
  transform: scale(0.9);
}
.title {
  color: #2db81d;
  font-size: 33px;
  margin:0;
}

.name {
  font-size: 20px;
  color: #f73152;
}

button {
  background-color: #2db81d;
  width: 200px;
  border: none;
  color: white;
  height: 45px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 30px;
  
}

input {
  height: 35px;
  width: 600px;
  font-size:20px;
}

button:hover {
  background-color: #233b23;
  color: white;
  cursor: pointer;
}

.odd {
  background-color: #f73152;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.even {
  background-color: #2db81d;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.prime {
  background-color: #ffd000;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.ol {
  margin-left: -670px;
  font-weight: lighter;

}

li{
  margin-bottom:5px;
}